{# empty Twig template #}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Formulaire d'un nouveau client</title>
    </head>
    <h1>bbbbbb</h1>
    <body>
        {{form_start(formclt)}}
        {{form_widget(formclt)}}
        <button type='submit'>Ajouter</button>
        {{form_end(formclt)}}
    </body>
</html>
{# empty Twig template #}
