{# empty Twig template #}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Formulaire d'un nouveau colis</title>
    </head>
    <h1>CREATION D'UN COLIS</h1>
    <body>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type='submit'>Ajouter</button>
        {{form_end(form)}}
    </body>
</html>
